# Node modules
node_modules/
package-lock.json

# Flutter build files
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
*.ap_
*.aab
android/app/build/
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/Runner/GeneratedPluginRegistrant.*

# Windows
windows/flutter/ephemeral/
windows/build/

# macOS
macos/Pods/
macos/.symlinks/
macos/Flutter/App.framework
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/.generated/

# Linux
linux/flutter/ephemeral/
linux/build/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
